@model IEnumerable<WebApplication1.Models.PlaceHolderItem>

@{
    ViewData["Title"] = "HomePage";
}


<div class="page-title">
    <PageTitle>My favorite places 🌄</PageTitle>
</div>
<div class="place-columns">
    @foreach (var item in Model)
    {
        @Html.Partial("_PlaceCard", item)
        ;
    }
</div>